.categories {
  &__item {
    margin-left: -14px;
    color: #42526e;

    img {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }

    a {
      display: flex;
      align-items: center;
      padding: 8px 0 8px 14px;
      font-size: 14px;

      &:hover {
        background-color: #ffebe6;
        color: #dc2a1c;
      }
    }
  }
}
