{% load static %}
{% load sw_content %}
<!DOCTYPE html>
<html lang="uk">
  <head>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Montserrat:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Home</title>
    <link rel="stylesheet" href="/static/source/pages/index/index.css" />
    {% block styles%}{% endblock styles %}
  </head>


<body>
  {% include "project/includes/header.html" %}

  {% block content %}{% endblock content %}

  {% include "project/includes/footer.html" %}

  {% block scripts %}{% endblock scripts %}
</body>

</html>