<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/project/static/source/pages/delivery/index.css"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="container delivery__container">
        <div class="banner-info">
          Ознайомившись з товаром, що вас зацікавив ви маєте змогу придбати його
          наступними способами.
        </div>

        <section class="payment-methods">
          <h3 class="title methods__title payment-methods__title">
            Способи оплати
          </h3>
          <div class="payment-methods__info">
            <ul class="payment-methods__left">
              <li>
                Готівкою при отриманні замовлення на складі служби «Нова Пошта».
                Отримувач сплачує комісію за оплату готівкою згідно тарифів
                служби «Нова Пошта».
              </li>
              <li>
                Онлайн оплата замовлення платіжними Картками Visa/Mastercard на
                сайті portmone.com.ua. Доставка товару здійснюється тільки після
                підтвердження платежу у системі.
              </li>
              <li>
                Безготівковий розрахунок для бізнес-клієнтів. Оплата
                безготівковим розрахунком здійснюється в касі відділення
                будь-якого банку або шляхом переказу з розрахункового рахунку
                Вашої компанії. Доставка замовлення можлива тільки після
                надходження коштів на наш рахунок.
              </li>
              <li>
                Готівкою у магазинах «ЗАХІД-ДАХ»: м.Тернопіль вул. Обїзна 12
                (Ринок Західний); с. Великі Гаї, вул. Обїзна 25
              </li>
              <li>
                Згідно індивідуального договору (державні установи та бізнес
                партнери)
              </li>
            </ul>
            <div class="payment-methods__right">
              <p>
                Наявність вибраного вами товару потрібно попередньо уточнити за
                номерами:
              </p>
              <div class="payment-methods__right-numbers">
                <div class="payment-methods__right-numbers-title">Телефон:</div>
                <a
                  class="payment-methods__right-link payment-methods__right-link--big-font"
                  href="tel:380673530586"
                  >+380 (67) 353-05-86 Віталій
                </a>
                <a
                  class="payment-methods__right-link payment-methods__right-link--big-font"
                  href="tel:380673507002"
                  >+380 (67) 350-70-02 Максим
                </a>
                <a
                  class="payment-methods__right-link payment-methods__right-link--big-font"
                  href="tel:380982709004"
                  >+380 (98) 270-90-04 Віктор
                </a>
              </div>
              <p>
                <span>Або написати нам на електронну адресу:</span>
                <a
                  class="payment-methods__right-link"
                  href="mailto:dahzahid@gmail.com"
                >
                  dahzahid@gmail.com
                </a>
              </p>

              <div class="payment-methods__right-details">
                Оплата:<br />
                ФОП Петелецький В.І.<br />
                Юридична адреса: 48027, Тернопільська обл., с. Суходіл<br />
                P/Р UA603510050000026009104241000<br />
                в АТ «УкрСиббанк», м.Тернопіль<br />
                МФО 351005<br />
                Код: 3152112376<br />
                Є платником єдиного податку.
              </div>
            </div>
          </div>
        </section>
        <section class="delivery-methods">
          <h3 class="title methods__title delivery-methods__title">
            Способи доставки
          </h3>
          <div class="delivery-methods__items">
            <div class="delivery-methods__block-item">
              <p>
                Доставка по Україні здійснюється перевізниками: Нова Пошта,
                Делівері, САТ,Міст експрес» та іншими за бажанням покупця.
              </p>
              <p>
                Якщо Ви сплачуєте замовлення під час отримання то, вартість
                доставки додатково складе % від суми грошового переказу (згідно
                тарифу перевізника).
              </p>
            </div>
            <div class="delivery-methods__block-item">
              <p>
                При отриманні товару у відділенні “ПЕРЕВІЗНИКА” обов'язково
                перевіряйте кількість, цілісність та зовнішній вигляд товару!У
                випадку пошкодження товару або неповної комплектації замовлення,
                рекомендуємо відмовитися від отримання товару та його сплати,а
                також скласти акт (претензію).
              </p>
              <p>
                <b>
                  У разі виникнення подібних ситуацій, будь ласка, зв’яжіться з
                  нами за реквізитами що зазначено на сайті.
                </b>
              </p>
            </div>
            <div class="delivery-methods__block-item">
              <p>
                При самовивезенні товару. Ви повинні заздалегідь повідомити
                менеджера про дату і час Вашого приїзду. Негабаритні товари
                можливо отримати в нашому магазині «ЗАХІД-ДАХ» за адресою.
              </p>
              <div class="delivery-methods__block-item-details">
                <p>
                  Адреса:<br />
                  вул. Обїзна 25 ( с. Великі Гаї), Тернопільська обл.<br />
                  вул. Обїзна 12 (Ринок Західний), Тернопіль.<br />
                </p>
                <p>
                  Час роботи:<br />
                  Понеділок - Пятниця: 9:00 - 18:00,<br />
                  Субота: 9:00 - 15:00<br />
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <script src="/project/static/source/pages/delivery/index.js"></script>
  </body>
</html>
