.home {
  display: flex;
  justify-content: space-between;

  &__sidebar {
    min-width: 212px;
    max-width: 212px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 50px;
    z-index: 10;
  }

  &__center {
    max-width: 1124px;
    width: 100%;
  }
}

.products {
  padding: 32px 0 0;

  &__title {
  }

  &__items {
    margin-top: 12px;
    overflow: hidden;
  }
}

.banners,
.shares,
.more-products {
  position: relative;
}

.more-products {
  padding-bottom: 29px;
}

.products-swiper {
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: initial;
  }

  &__next-btn {
    right: -20px;
  }
}

@media (max-width: 1440px) {
  .home {
    &__center {
      max-width: calc(100% - 212px);
    }
  }
}

@media (max-width: 1024px) {
  .home {
    &__sidebar {
      display: none;
    }

    &__center {
      max-width: 100%;
    }
  }
}

@media (max-width: 720px) {
  .products {
    &__items {
      margin-top: 8px;
    }
  }

  .shares {
    padding: 16px 0 0;
  }

  .more-products {
    padding: 24px 0 48px;
  }

  .products-swiper {
    &__next-btn {
      display: none;
    }
  }
}

@media (max-width: 620px) {
  .products {
    &__title {
      font-size: 14px;
    }
  }
}

@media (max-width: 550px) {
  .products {
    &__items {
      .product {
        max-width: 206px;
        padding: 8px;

        &__type-trade {
          font-size: 12px;
        }
      }
    }
  }
}
