.product {
  max-width: 235px;
  width: 100%;
  height: initial;
  background-color: #fff;
  padding: 0 16px 16px 16px;
  border: 1px solid #ebecf0;
  border-radius: 4px;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2),
      0px 4px 22px -2px rgba(0, 0, 0, 0.15);
    transform: scale(1.03);
    z-index: 100;
  }

  &__color {
    margin-left: 16px;

    &-key {
      font-weight: 400;
    }

    &-value {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-text {
        width: 100%;
      }

      &-bg {
        width: 24px;
        height: 24px;
        margin-top: 2px;
        border-radius: 100%;
      }
    }
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 235px;
    width: 100%;
    max-height: 168px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  &__img {
    min-height: 168px;
  }

  &__bottom {
    margin-top: 8px;
  }

  &__favorite-btn {
    position: absolute;
    top: 19px;
    right: 2px;
  }

  &__img {
    display: flex;
    justify-content: center;
    width: 100%;
    object-fit: cover;
  }

  &__info {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__title {
    color: #091e42;
    font-size: 14px;
  }

  &__price {
    margin-top: 4px;
    &-current {
      color: #dc2a1c;
      font-size: 18px;
      line-height: 24px;
      font-weight: 800;
    }

    &-old {
      margin-left: 4px;
      text-decoration: line-through;
      color: #505f79;
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__accessibility {
    margin-top: 8px;
    font-size: 14px;
    line-height: 24px;
  }

  &__availability {
    color: #09b14c;

    &--is-delivered {
      color: #f3af01;
    }

    &--missing {
      color: #dc2a1c;
    }
  }

  &__type-trade {
    color: #8993a4;
    &::before {
      content: "•";
      margin: auto 8px;
    }
  }

  &__buy-btn {
    width: 100%;
    margin-top: 12px;
    padding: 12px 20px;

    &-count {
      background-color: #fff;
      margin-left: 8px;
      padding: 0 4px;
      color: #091e42;
      border-radius: 100%;
    }
  }

  @media (max-width: 772px) {
    .product {
      padding: 8px;

      &__top {
        max-width: 190px;
        width: 100%;
        height: 131px;
      }

      &__img {
        min-height: 131px;
      }

      &__price {
        &-current {
          font-size: 14px;
        }
      }

      &__accessibility {
        font-size: 12px;
        line-height: 20px;
      }

      &__buy-btn {
        margin-top: 16px;
        padding: 6px 20px;
        font-size: 14px;
      }
    }
  }
}

.products-column {
  max-width: 905px;
  width: 100%;

  &__head {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    color: #42526e;
    font-size: 14px;
    line-height: 24px;
    border-bottom: 1px solid #dfe1e6;

    &-left {
      max-width: 370px;
      width: 100%;
    }

    &-product {
    }

    &-center {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      max-width: 205px;
      width: 100%;
      margin-left: 28px;
    }

    &-price {
      max-width: 109px;
      width: 100%;
      margin-right: 8px;
    }

    &-count {
      max-width: 70px;
      width: 100%;
    }

    &-right {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      max-width: 254px;
      width: 100%;
      margin-left: 28px;
    }

    &-paid {
      max-width: 109px;
      width: 100%;
    }

    &-date {
      max-width: 89px;
      width: 100%;
      margin-left: 48px;
    }
  }

  &__items {
  }
}

.product-column {
  display: flex;
  padding: 16px 20px 16px 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  border-bottom: 1px solid #dfe1e6;

  &__img {
    max-width: 72px;
    width: 100%;
    overflow: hidden;
    img {
      width: 72px;
      height: 72px;
      object-fit: contain;
    }
  }

  &__left {
    display: flex;
    max-width: 370px;
    width: 100%;
  }

  &__title {
    max-width: 282px;
    width: 100%;
    margin-left: 16px;
  }

  &__center {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 205px;
    width: 100%;
    margin-left: 28px;
  }

  &__price {
    max-width: 109px;
    width: 100%;
    margin-right: 8px;
    word-wrap: break-word;
  }

  &__count {
    max-width: 70px;
    width: 100%;
    text-align: end;
    word-wrap: break-word;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 254px;
    width: 100%;
    margin-left: 28px;
  }

  &__paid {
    max-width: 109px;
    width: 100%;
    word-wrap: break-word;

    span {
      word-break: break-all;
    }
  }

  &__date {
    max-width: 89px;
    width: 100%;
    margin-left: 48px;
  }
}
